@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container" style="background-color:red;">


    <div id="menu-superior" style="background-color: pink">
        dasdasd
        <div id="menu-lateral-esquerda" style="background-color: greenyellow">
            weq
        </div>
        <div id="menu-lateral-direita" style="background-color: orange">
            egwrgwg
        </div>
    </div>


</div>