@{
    Layout = "_WithOutLayout";
    ViewData["Title"] = "Acessar Conta";
}
<link rel="stylesheet" href="~/css/site-forms.css" asp-append-version="true" />

<div class="form-container">
    <form id="login-form" class="w-100 form-card-custom" style="max-width: 500px;">
        <h1 class="text-center fw-bold mb-4">Acessar Conta</h1>

        <div class="form-div-input">
            <label for="email" class="text">Email</label>
            <input type="email" class="form-input" id="email" name="Email" placeholder=" ">
        </div>

        <div class="form-div-input">
            <label for="password" class="text">Senha</label>
            <input type="password" class="form-input" id="password" name="Senha" placeholder=" ">
        </div>

        <button type="submit" id="login-btn" class="btn btn-primary btn-lg w-100">
            Acessar
        </button>

        <div class="d-flex justify-content-between mt-4 text-muted">
            <a href="@Url.Action("ForgotPassword", "Login")" class="link-secondary">Esqueci minha senha</a>
            <a href="@Url.Action("SignUp", "Login")" class="link-secondary">Cadastrar-se</a>
        </div>
    </form>
</div>