:root {
    --primary-color: #FEBF25;
    --secondary-color: #FECC52;
    --tertiary-color: #FEDE90;
    --complementary-color: #2564FE;
    --primary-background-color: #FFFFF5;
    --secondary-background-color: #FFFFFF;
    --white-color: #F8F8FF;
}

.btn-primary {
    color: var(--white-color);
    background-color: var(--primary-color);
    border-color: var(--secondary-color);
}

    .btn-primary:hover {
        color: var(--white-color);
        background-color: var(--secondary-color);
        border-color: var(--tertiary-color);
    }

    .btn-check:focus + .btn-primary, .btn-primary:focus {
        color: var(--white-color);
        background-color: var(--secondary-color);
        border-color: var(--secondary-color);
        box-shadow: 0 0 0 0.25rem var(--tertiary-color);
    }

    .btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
        color: var(--white-color);
        background-color: var(--tertiary-color);
        border-color: var(--tertiary-color);
    }

    .btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.25rem var(--tertiary-color);
    }

    .btn-primary:disabled, .btn-primary.disabled {
        color: var(--white-color);
        background-color: var(--primary-color);
        border-color: var(--primary-color);
        opacity: 0.65;
    }

    .btn-outline-primary {
        color: var(--primary-color);
        border-color: var(--primary-color);
    }

    .btn-outline-primary:hover {
        color: var(--white-color);
        background-color: var(--primary-color);
        border-color: var(--secondary-color);
    }

    .btn-check:focus + .btn-outline-primary, .btn-outline-primary:focus {
        box-shadow: 0 0 0 0.25rem var(--tertiary-color);
    }

    .btn-check:checked + .btn-outline-primary, .btn-check:active + .btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show {
        color: var(--white-color);
        background-color: var(--primary-color);
        border-color: var(--secondary-color);
    }

    .btn-check:checked + .btn-outline-primary:focus, .btn-check:active + .btn-outline-primary:focus, .btn-outline-primary:active:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus {
        box-shadow: 0 0 0 0.25rem var(--tertiary-color);
    }

    .btn-outline-primary:disabled, .btn-outline-primary.disabled {
        color: var(--primary-color);
        background-color: transparent;
        opacity: 0.65;
    }