:root {
    --primary-color: #FEBF25;
    --secondary-color: #FECC52;
    --tertiary-color: #FEDE90;
    --complementary-color: #2564FE;
    --primary-background-color: #FFFFF5;
    --secondary-background-color: #FFFFFF;
}

.btn-primary {
    color: ghostwhite;
    background-color: var(--primary-color);
    border-color: var(--secondary-color);
}

.btn-primary:hover {
    color: ghostwhite;
    background-color: var(--secondary-color);
    border-color: var(--tertiary-color);
}